.competencesTitle{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.carouselbox {
    border: 1px solid #000;
}

.carouselTitle{
    border-bottom: 1px solid #000;
    padding: var(--small-space)
}

.carouselDescription{
    padding-top: var(--small-space);
    padding-left: var(--small-space);
    padding-right: var(--small-space);
    padding-bottom: var(--small-space);

}

.comptenceCarouselImage{
    object-fit: cover;
    height: 100%;
    border-left: 1px solid #000;
}