/* Footer.css */

.footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding-top: var(--small-space);
    padding-left: 43px;
    padding-right: 43px;

    margin-top: var(--section-space);
}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    margin-bottom: var(--double-section-space);
}

.footerNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
}

.footerNavigation p{
    color: var(--white)
}

.socialMedia {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.socialMedia a{
    color: var(--white)
}

.bottomFooter {
    position: relative;
    height: 100%; /* or a specific height if necessary */
}

.footerLogo {
    font-size: 100px;
    color: red;
    position: absolute;
    bottom: 10px; /* 10px from the bottom */
    right: 10px; /* 10px from the right */
}

.active-link-footer {
    color: white;
    font-weight: 400;
    font-size: 19px;
}

.navigationLinkFooter {
    font-size: 19px;
    font-weight: 100;
    color: var(--white);
}