.homePage {
    margin-left: 43px;
    margin-right: 43px;
}

.firstItemPading {
    padding-top: 100px;
}

.highlight-imagine, .highlight-make {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.highlight-imagine {
    background-image: url('../assets/imagine-background-image.png');
}

.highlight-make {
        background-image: url('../assets/imagine-background-image.png');
}

.linkText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.productCards{
    display: flex;
    flex-direction: row;
}