/* index.css */

:root {
  /* COLORS */
  --electric-blue: #006EEB;
  --fluidic-blue: #003278;
  --white: #fff;
  --black: #000;
  --black2: #313131;
  --preciflex-gray: #F0F0F0; 
  --gray2: #CFCFCF;

  
  /* FONTS */
  --neue-haas-grotesk: 'NeueHaasGrotesk', sans-serif;

  /* H2 */
  --h2-weight: 300;
  --h2-size: 47px;

  /* SECTION SPACES */
  --section-space: 115px;
  --double-section-space: 230px;
  --small-space: 30px;

  /* BOLD 1 */
  /* --bold1-weight: medium;
  --bold1-size: 15px; */
  
  /* P2 */
  /* ⚠️ trouver Extra light */
  /* --p2-weight: font-weight: light;
  --p2-size: font-size: 13px; */
  font-family: var(--neue-haas-grotesk);
}

body{
  margin-top: 0px;
  margin-bottom: 0px;

}
/* REMOVE DEFAULTS */
h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('../assets/fonts/NeueHaasDisplayMediu.ttf');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('../assets/fonts//NeueHaasDisplayRoman.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('../assets/fonts/NeueHaasDisplayThin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('../assets/fonts/NeueHaasDisplayLight.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasGrotesk';
  src: url('../assets/fonts/NeueHaasDisplayBold.ttf');
  font-weight: 700;
  font-style: normal;
}

.bold1 {
  font-weight: 500;
  font-size: 15px;
}

.p{
  font-weight: 300;
  font-size: 18px;

}

.p2 {
  font-weight: 300;
  font-size: 13px;
}

.h2 {
  font-weight: 100;
  font-size: 47px;
  margin-bottom: var(--small-space);
}

.h1 {
  font-weight: 100;
  font-size: 52px;
}

.h3 {
  font-weight: 300;
  font-size: 47px;
}

.boldButton{
  font-size: 22px;
  font-weight: 500;
}

.navigationLink{
  font-size: 19px;
  font-weight: 200;
}