/* background image  */
.lightTechHero {
  background-image: url('../assets/fluidic-tech-hero-picture.png');
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.lightTechCircle {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: #DEDEDE;
  mix-blend-mode: color-dodge;
}

.lightTech-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  z-index: 10; /* Assure que les icônes sont au-dessus des montres */
}

@media (max-width: 900px) {
  .lightTech-svg-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
  }

}

.lightTech-watch-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 200px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.lightTech-watch-container{
  position: sticky;
  top: 100px;
  width: 100%;
}

.lightTech-watch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 250px;
  min-width: 200px;
  z-index: 1;
}

.lightTech-darkWatch {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  max-width: 250px;
  min-width: 180px;
  z-index: 5;
  transform: translate(-50%, -50%);
  opacity: 0;
  
}

@media (max-width: 900px) {
  .lightTech-watch {
    width: 100%;
    max-width: 200px;
    min-width: 190px;
  }

  .lightTech-darkWatch {
    width: 90%;
    max-width: 180px;
    min-width: 170px;
  }
}