.productCard {
    background-color: var(--preciflex-gray);
    padding: 17px;
    height: 400px;
    margin-right: 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
  }

.topProductCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    height: 30px;
}

.bottomPorductCard{
    height: 20px;
}

.productCard img{
    width: 80%;
    max-width: 200px;
    align-self: center;
}


.productCardServices{
    color: var(--electric-blue);
    text-align: right;
}

.hidden {
    display: none;
}