.realizationTemplate{
    margin-left: 43px;
    margin-right: 43px;
}

.realizationTemplateBanner{
    object-fit: cover;
    height: 100%;
}

.realizationTemplateContent {
    width: 80%;
    max-width: 828px;
    margin: 0 auto; 
    padding: 20px;

    font-family: 'NeueHaasGrotesk', sans-serif;
} 

.realizationTemplateContent h1 {
    font-size: 47px;
    font-weight: 100;
    color: var(--electric-blue)
}


.realizationTemplateContent img {
    width: 90%;
    max-width: 944px;
    height: auto;
    margin-top: var(--small-space);
    margin-bottom: var(--small-space);
}

.realizationTemplateContent p {
    font-size: 1.4rem;
    color: var(--black);
    margin-bottom: var(--section-space);
}