.realizationTemplate{
    margin-left: 43px;
    margin-right: 43px;
}

.realizationTemplateBanner{
    object-fit: cover;
    height: 100%;
}

.realizationTemplateContent {
    /* max-width: 828px; */
    font-family: 'NeueHaasGrotesk', sans-serif;
} 

@media (min-width: 900px) {
    .realizationTemplateContent {
        min-width: 900px;
        max-width: 1100px;
        width: 70%;
    }
}


.realizationTemplateContent h1 {
    font-size: 47px;
    font-weight: 100;
    color: var(--electric-blue);
    margin-top: var(--section-space)
}

.realizationTemplateContent h2 {
    font-size: 40px; 
    font-weight: 100;
    color: var(--black);
    margin-top: var(--small-space);
}

.realizationTemplateContent p {
    font-size: 1.4rem;
    color: var(--black);
    margin-bottom: var(--small-space);
}


.realizationTemplateContent h1,
.realizationTemplateContent h2,
.realizationTemplateContent h3,
.realizationTemplateContent p {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 11;
}

.realizationTemplateContent p {
    display: grid;
}

.realizationTemplateContent img {
    max-height: 500px;
    object-fit: cover;
    /* display: grid;
    grid-column-start: 2;
    grid-column-end: 12; */

    width: 100%;
    margin-top: var(--small-space);
    margin-bottom: var(--small-space);
}

  
  .arrow-icon {
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
  }
  
  .arrow-icon.rotated {
    transform: rotate(0deg);
  }