.servicesTitle{
    text-align: center;
    line-height: 2;
}

.text-container {
    position: relative;
    display: inline-block;
  }

  .servicesIcon {
    position: absolute;
    bottom: 20px;
    /* place it in the middle */
    left: 40%;
    z-index: -100;
  }
  
  .serviceTitleLink {
    position: relative;
    text-decoration: none;

    background-color: white;
    cursor: pointer;
}

.serviceTitleLink:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
/* ------------------------------ */

.stepText{
  font-size: 40px;
}

.servicesNavigation{
  display: flex;
  padding: 10px;
  margin-bottom: var(--small-space);
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 100px;
  background-color: white;
  z-index: 100;
  max-width: 500px;
}
/* hard stuff */
.sectionSpace{
  margin-top: var(--section-space);
}
.serviceContainer{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}


.descriptionAndStep{
  /* width: 70%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraphText{
  width: 70%;
  /* position: relative; */
}
/* ----------------------------- */
